<div class="sign-up-page">
  <form class="sign-up-form">
    <input
      name="id"
      type="text"
      placeholder="Please insert your ID"
      [(ngModel)]="id"
      class="sign-up-input">
    <input
      name="password"
      type="password"
      placeholder="Please insert your Password"
      [(ngModel)]="password"
      class="sign-up-input">
    <input
      name="name"
      type="text"
      placeholder="Please insert your Name"
      [(ngModel)]="name"
      class="sign-up-input">
    <input
      name="phone"
      type="tel"
      placeholder="Please insert your Phone numeber"
      [(ngModel)]="phone"
      class="sign-up-input">
    <button (click)="signUp()" class="sign-up-button">
      Sign Up
    </button>
    <div style="color: red; margin-left: 25%;">
      {{errorMessage}}
    </div>
  </form>
</div>
