<div>
  <navigation></navigation>
  <side-menu class="side-menu"
    [postList]="postList"
    (selected)="selectPosting($event)">
  </side-menu>
  <div class="server-page">
    <button (click)="writePost('write')">
      게시물 작성
    </button>
    <button (click)="writePost('modify')">
      게시물 수정
    </button>
    <div>
      <div style="text-align: center;">
        <h1>
          {{latestTitle}}
        </h1>
      </div>
      <div style="float: right; margin-right: 10%">
        {{latestCategory}}
      </div>
    </div>
    <br>
    <div style="margin: 5% 10% 10% 10%;">
      {{latestContent}}
    </div>
  </div>
</div>
