.confirm-password-page {
  height: 100%;
  width: 100%
}

.confirm-password-form {
  margin: 20% 40%;
}

.confirm-password-input {
  height: 5vh;
  width: 98%;
  padding: 0;
}

.confirm-password-button {
  height: 5vh;
  width: 99%;
}
