.write-content-page {
  height: 100%;
  width: 100%
}

.write-content-form {
  margin: 5% 20%;
}

.write-content-input {
  height: 5vh;
  width: 63%;
}

.write-content-select {
  float: right;
  height: 5vh;
  width: 30%;
}

.write-content-button {
  float: right;
  height: 5vh;
  width: 20%;
}
