.write-content-page {
  height: 100%;
  width: 100%
}

.write-content-form {
  margin: 5% 20%;
}

.write-content-input {
  height: 5vh;
  width: 63%;
  padding: 0;
}

.write-content-select {
  height: 5vh;
  width: 30%;
  margin: 0 3%;
}

.write-content-button {
  float: right;
  height: 5vh;
  width: 20%;
}
