<div class="write-content-page">
  <navigation></navigation>
  <form class="write-content-form">
    <input
      type="text"
      placeholder="Please insert title"
      name="text"
      [(ngModel)]="title"
      class="write-content-input">
    <select name="category" [(ngModel)]="category" class="write-content-select">
      <option value="client">
        client
      </option>
      <option value="server">
        server
      </option>
      <option value="database">
        database
      </option>
    </select>
    <div>
      <textarea
        name="content"
        [(ngModel)]="content"
        style="height: 50vh; width: 100%; margin: 3% 0;">
        Please insert content
      </textarea>
    </div>
    <a *ngIf="saveError" style="color: red; margin-left: 60%;">
      게시물을 저장하지 못했습니다.
    </a>
    <a *ngIf="categoryError" style="color: red; margin-left: 60%;">
      게시물의 카테고리를 선택하세요.
    </a>
    <button (click)="submit()" class="write-content-button">
      Submit
    </button>
  </form>
</div>
