<div class="login-page">
  <form class="login-form">
    <input
      type="text"
      name="loginId"
      placeholder="Please insert your ID"
      [(ngModel)]="loginId"
      class="login-input">
    <input
      type="password"
      name="loginPassword"
      placeholder="Please insert yout Password"
      [(ngModel)]="loginPassword"
      class="login-input">
    <button (click)="login()" class="login-button">
      Login
    </button>
    <button (click)="signUp()" class="login-button">
      Sign up
    </button>
    <a *ngIf="loginError" style="color: red; margin-left: 30%;">
      로그인에 실패했습니다.
    </a>
  </form>
</div>
