<div class="my-page-page">
  <navigation></navigation>
  <confirm-password
    *ngIf="!confirmed"
    (confirmed)="confirm($event)">
  </confirm-password>
    <form *ngIf="confirmed" class="my-page-form">
      ID
      <input
        type="text"
        name="id"
        readonly
        [(ngModel)]="id"
        class="my-page-input">
      Password
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        class="my-page-input">
      Name
      <input
        type="text"
        name="name"
        readonly
        [(ngModel)]="name"
        class="my-page-input">
      Phone
      <input
        type="text"
        name="phone"
        [(ngModel)]="phone"
        class="my-page-input">
      Sign Up Date
      <input
        type="text"
        name="date"
        readonly
        [(ngModel)]="date"
        class="my-page-input">
    <button (click)="submit()" class="my-page-button">
      Submit
    </button>
    <div style="color: red; margin-left: 30%;">
      {{errorMessage}}
    </div>
  </form>
</div>
