<div>
  <navigation
    (category)="changeCategory($event)"
    (logoutFlag)="logout($event)">
  </navigation>
  <side-menu class="side-menu"
    [contentsList]="contentsList"
    (selected)="selectContent($event)">
  </side-menu>
  <div class="home-page">
    <button (click)="writeContent('write')">
      게시물 작성
    </button>
    <button *ngIf="writerId == userId"
      (click)="writeContent('modify')">
      게시물 수정
    </button>
    <div>
      <div style="text-align: center;">
        <h1>
          {{latestTitle}}
        </h1>
      </div>
      <div style="float: right; margin-right: 10%">
        {{latestCategory}}
      </div>
    </div>
    <br>
    <div style="margin: 5% 10% 10% 10%;">
      {{latestContent}}
    </div>
  </div>
</div>
