<div class="navigation-page-left">
  <button (click)="home()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Home
  </button>
  <button (click)="client()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Client
  </button>
  <button (click)="server()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Server
  </button>
  <button (click)="database()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    DataBase
  </button>
  <div class="navigation-page-right" *ngIf="buttonFlag">
    <button (click)="myPage()" style="border-width: 0; height: 100%; padding: 0; width: 45%;">
      My page
    </button>
    <button (click)="logout()" style="border-width: 0; height: 100%; padding: 0; width: 45%;">
      Logout
    </button>
  </div>
  <div class="navigation-page-right" *ngIf="!buttonFlag">
    <button (click)="login()" style="border-width: 0; float: right; height: 100%; padding: 0; margin-right: 10%; width: 45%;">
      Sign in
    </button>
  </div>
</div>
