<div style="background-color: #333; width: 100%; height: 10vh;">
  <button (click)="home()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Home
  </button>
  <button (click)="client()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Client
  </button>
  <button (click)="server()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    Server
  </button>
  <button (click)="database()" style="border-width: 0; height: 100%; padding: 0; width: 10%;">
    DataBase
  </button>
  <div style="float: right; height: 100%; width: 25%;">
    <button (click)="myPage()" style="border-width: 0; height: 100%; padding: 0; width: 45%;">
      My page
    </button>
    <button (click)="logout()" style="border-width: 0; height: 100%; padding: 0; width: 45%;">
      Logout
    </button>
  </div>
</div>
