.navigation-page-left {
    background-color: black; 
    width: 100%; 
    height: 10vh;
}
.navigation-page-right {
    background-color: black; 
    float: right; 
    height: 100%; 
    width: 25%;
}
